<div class="wrapper">
  <div class="logo">
    <img
      src="https://www.freepnglogos.com/uploads/2023-png/red-square-2023-label-png--0.png"
      alt=""
    />
  </div>

  <form class="top">
    <div class="text-center mt-4 name">Username</div>
    <div class="form-field d-flex align-items-center top2">
      <input type="email"
      class="formControl"
      placeholder="Username"
      #userEmail
      required/>
    </div>
    <div class="text-center name">Pasword</div>
    <div class="form-field d-flex align-items-center top2">
      <input
      type="password"
      class="formControl"
      placeholder="Password"
      #userPwd
      required
        [type]="hide ? 'password' : 'text'"
      />
    </div>
    <button
          class="btn btnPrimary"
          value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
    >
    Sign Up
    </button>
  </form>
  <div class="text-center fs-6 top">
    <span
      >You have account? <button mat-stroked-button routerLink="/sign-in">
        Login
      </button></span
    >
  </div>
  <div class="all">
    <button
    type="button"
    class="login-with-google-btn top"
    (click)="authService.GoogleAuth()"
    >
    Continue with Google
    </button>
    <button mat-stroked-button color="primary" class="top" routerLink="/the-first-page">Home</button>
  </div>
</div>
