<div class="BackgroundHomePhoto1">
  <div class="text">
    <div class="top">
      <div class="separator">
        <div class="line"></div>
        <h2>prona-ime Real Estate Co.</h2>
        <div class="line"></div>
      </div>
      <div class="line">
        <h2 class='lineUp'>Let us help you find your dream home.</h2>
      </div>
    </div>
  </div>

  <div class="register">
    <button mat-raised-button routerLink="/sign-in">
      <mat-icon>home</mat-icon>
      BUY A HOME &
      <p>LOG IN</p>
    </button>
    <button mat-raised-button routerLink="/register-user">
      <mat-icon>list</mat-icon>
      LIST A HOME &
      <p>Register</p>
    </button>
  </div>
</div>
